service: email-api

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.9
  region: ap-south-1

functions:
  sendEmail:
    handler: handler.send_email
    events:
      - httpApi:
          path: /send-email
          method: post

plugins:
  - serverless-offline

custom:
  serverless-offline:
    port: 3000